* {
    margin: 0;
    padding: 0;

    font-family: 'roboto', sans-serif;
}

body {
    background: #292f46;
}

header {
    text-align: center;
    font-size: 38px;
}

#nav {
    width: 100%;
    height: 76px;
    background: #171a26;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.title {
    display: flex;
    align-items: center;
    height: 100px;
}

.title-text {
    color: white;
    width: 100%;
}

.logo {
    margin-left: 50px;
    margin-top: 50px;
}

#nav .button {
    font-size: 24px;
    color: white;
    text-decoration: none;
    width: 200px;
    height: 50px;
    background: #292f46;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

main .title {
    color: white;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav .relative {
    margin: 10px 10px;
    margin-bottom: 50px;
}

nav a {
    color: white;
}

#medewerkers-title {
    margin: 25px 0;
    color: white;
    text-align: center;
}

#medewerkers-list {
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.medewerker {
    background: #323e6c;
    display: flex;
    justify-content: space-evenly;
    color: white;
    width: 50%;
    margin: 10px 0;
    height: 50px;
    border-radius: 100px;
    align-items: center;
    font-size: 23px;
}

.medewerker-icon {
    height: 40px;
    width: 40px;
}
